<p style="text-align: center; font-weight: bold; font-size: 15px">
  Cadastro de categoria de produto
</p>

<form class="row g-3" [formGroup]="catProdForm">
  <input type="hidden" id="empresa" name="empresa" formControlName="empresa" />

  <div class="col-2">
    <label for="id" class="form-label">ID:</label>
    <input
      type="text"
      class="form-control"
      id="id"
      readonly
      name="id"
      placeholder="ID"
      formControlName="id"
    />
  </div>
  <div class="col-9">
    <label for="nomeDesc" class="form-label">Nome da categoria</label>
    <input
      type="text"
      maxlength="100"
      class="form-control"
      id="nomeDesc"
      name="nomeDesc"
      required="true"
      placeholder="Nome da categoria"
      formControlName="nomeDesc"
    />
    <div
      *ngIf="catProdForm.get('nomeDesc')?.errors"
      style="font-size: 8px; color: brown"
    >
      *Nome da Categoria
    </div>
  </div>

  <div class="col-12">
    <button
      type="submit"
      class="btn btn-primary"
      (click)="cadProdCategoria()"
      [disabled]="!catProdForm.valid"
    >
      Salvar
    </button>
  </div>
</form>
