<p style="text-align: center; font-weight: bold; font-size: 15px">
  Cadastro de categoria de produto
</p>

<form class="row g-3">
  <div class="col-2">
    <label for="id" class="form-label">ID:</label>
    <input
      type="text"
      class="form-control"
      id="id"
      readonly
      name="id"
      placeholder="ID"
    />
  </div>
  <div class="col-9">
    <label for="nomeDesc" class="form-label">Nome da categoria</label>
    <input
      type="text"
      class="form-control"
      id="nomeDesc"
      name="nomeDesc"
      placeholder="Nome da categoria"
    />
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Salvar</button>
  </div>
</form>
